/* Write your code here */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    width: 25%;
    float: left;
    padding: 5px;
    list-style: none;
}

ul li img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.overlay * {
    cursor: default;
}

.overlay p {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}